* {
	font-family: "Courier New", sans-serif;
}

#gold {
	font-weight: bold;
	font-size: 24px;
}

th {
	border: 1px solid black;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

table {
	border: 1px solid black;
	position: absolute;
	right: 0px;
}

#buyButtons {
	top: 100px;
}

#buyOptions {
	top: 50px;
}

#buyAmount {
	right: 0px;
	top: 10px;
	position: absolute;
}

th > button {
	width: 100%;
	border: 0px;
	background-color: white;
	font-weight: bold; 
}

#stats {
	text-align: center;
	border-radius: 5px;
}
